.vstcard {
  background-color: $tan;
  color: $jet;
  border-radius: 8px;
}
.card-expand-btn{
  height: 28px;
  width: 28px;
  border-style: solid;
  border-color: $jet;
  color: $jet;
  border-width: 1px;
  border-radius: 50%;
  background-color: transparent;

  &:hover{
    transition: all 1s ease;
    transform: rotate(180deg);
  }
}

.profile-stats-list {
  list-style: none;
  li {
    display: inline-block;
  }
  margin: 0px;
  padding: 0px;
}
.nav-pills {
  color: $cultured !important;
  border-radius: 12px !important;

}

.friends-list-nav {
  border-radius: 24px !important;
  background-color: $jet;
  color: $cultured;
  a{
    color:white;
  }
}
.vl {
  border-left: 2px solid $cultured;
  border-radius: 10px;
}

.nav-pills > .active  {
  background-color: $tan !important;
}

hr.whitehr {
  border: 0;
    height: 2px;
    background-image: linear-gradient(to right, $jet, $cultured, $jet);
}

.friend-invite-card{
  border: 2px solid #28282A;
  min-width: 270px;
  border-radius: 4px;
  color: $cultured;
  padding: 1px 4px;
  margin-bottom: 2px;
  background-color: #28282A;
}

.friends-list-photo {
  width: 50px;
  height: 50px;
}

.nav-link {
  color: $jet;
}

.screen {
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.btn-friends-cancel {
  background-color: #D95D39;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 0px 4px 4px 0px;
  &:hover{
    background-color: #d97053;
  }
}
.friend-card-request{
  font-size: 7px;
  background-color: $cultured;
  padding: 6.72px 4px;
  border-radius: 4px 0px 0px 4px;
  color: $jet !important;
  margin: 0px !important;
}

.btn-friends-accept {
  background-color: $cultured;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 4px 0px 0px 4px;
  color: #439775 !important;
  &:hover{
    background-color: #439775;
    color: $cultured !important;
  }
}

.btn-friends-cancel-full{
  background-color: #D95D39;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 4px;
  &:hover{
    background-color: #d97053;
  }
}
