.screen {
  margin-top: 80px;
  height: calc(100vh - 80px);
}


.descript {
  // max-width: 500px;
}
.info-border {
  // height: 576px;
  // width: 656px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(20,20,20,0.08);
  border-radius: 16px;
}

.experience-name {
  margin-bottom: 16px;
  h2{
    margin: 0px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.experience-infos {
  margin-top: 16px;
  h6 {
    font-style: italic;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.inner {
  margin-top: 16px;
  margin-bottom: 8px;
}

.review {
  margin: 0;
  padding: 0;
  p {
    margin: 0;
  }

  .details {
    color: gray;
    font-size: smaller;
  }
}

.scrollable{
  overflow-y: auto;
  max-height: 300px;
}

hr {
  margin: 4px;
  border-width: 1px;
}

h5 {
  margin-bottom: 0;
}
