<div class="card-feed">
  <div class="container">
    <div class="d-flex flex-row">
      <div class="row p-2">
        <div class="user-avatar">
        </div>
      </div>
      <div class="p-2 row">
        <p>User_name has done this</p>
        <p>Thursday, 8 September</p>
      </div>
    </div>
    <div class="row">
      <div class="experience-image">
    </div>
    <div class="row">
      <h1>Experience Name</h1>
      <h2></h2>
    </div>
    </div>
  </div>
</div>

<hr>
