<div class="card card-experience">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-experience-infos">
    <div>
      <h2><%= link_to experience.name, experience_path(experience.id) %></h2>
      <p><%= experience.description %></p>
    </div>
    <div class="done">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Done
        </label>
      </div>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-experience-user avatar-bordered" />
  </div>
</div>
