<div class="footer-wagon <%= yield(:footer_class) %>">
  <div class="container">
    <div class="footer footer-home">
      <div class="footer-links">
        <a href="https://github.com/Jennacodes101/dejavu"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        © DEJAVU 2022
      </div>
    </div>
  </div>
</div>
