<%# <div class="footer-wagon <%= yield(:footer_class) %>
  <div class=" row footer <%= yield(:footer_class) %>">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="footer-links align-middle">
            <a href="https://github.com/Jennacodes101/dejavu"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-6">
            <div class="footer-copyright align-middle">
              © DEJAVU 2022
            </div>
        </div>
      </div>
    </div>
  </div>
<%# </div> %>
