
<div class="d-flex align-items-center flex-column">
    <div class="card-experience-user avatar-bordered">
      <%= cl_image_tag experience.user.photo.key, height: 40, width: 40, radius: "max",  crop: :fill, fetch_format: :png %>
    </div>
    <div>
      <h2><%= link_to experience.name, experience_path(experience.id) %></h2>
    </div>
    <div>
      <p><%= link_to experience.address, experience_path(experience.id) %></p>
    </div>
</div>
