<%# <div class="pb-20"> %>
<div style="width: 612px; height: 512px; border-radius: 16px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
