<div class="map">
  <%# <div class="pb-20"> %>
  <div style="width: 660px; height: 650px; border-radius: 8px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
