<div class="container"></div>
  <table class="table">
    <thead>
      <th> Experience </th>
      <th> Location </th>
      <th> Reviewed? </th>
    </thead>
    <tbody>
      <% @done_user_experiences.each do |my_experience| %>
        <tr>
          <%experience = Experience.find(my_experience.experience_id) %>
          <td> <%= experience.name %> </td>
          <td> <%= experience.address %> </td>
          <% review = Review.find_by(my_experience_id: my_experience.id)  %>
            <% if review.nil? %>
              <% if @access == 'owner' %>
                <td> <%=link_to "+ Review", experience_path(experience.id),
                  class: "rounded-pill btn btn-dark" %></td>
              <% else %>
                <td> Not yet! </td>
              <% end %>
            <% else  %>
              <td> ✓ </td>
            <% end %>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
