<table class="table table-dark">
  <thead>
    <th> name </th>
    <th> location </th>
    <th> reviewed? </th>
  </thead>
  <tbody>
    <% @done_user_experiences.each do |my_experience| %>
    <tr>
      <%experience = Experience.find(my_experience.experience_id) %>
      <td> <%= experience.name %> </td>
      <td> <%= experience.address %> </td>
      <td>
      <% review = Review.find_by(my_experience_id: my_experience.id)  %>
        <% unless review.nil? %>
          <p> reviewed✓ </p>
        <% else  %>
          <%= link_to "review", experience_path(experience.id), class: "btn btn-secondary" %>
        <% end  %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
