<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="home-video-wrapper justify-content-center align-items-center">
    <%= video_tag "home2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="xxx">
      <h1 class="home">DejaVu</h1>
      <p class="home" >Never forget want you want to experience.</p>
      <%=link_to 'Experiences Feed', experiences_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<%= content_for(:footer_class, "footer-home") %>
