<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner d-flex">
  <div class="container m-auto">
    <div class="cover d-flex align-items-center justify-content-center">
      <div class="text-center">
        <div class="banner-container-phrases" style="height: 50px">
          <h4> <span data-controller="typed-js"></span> </h4>
        </div>
        <div>
          <h2><%= link_to 'DEJAVU', experiences_path %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:footer_class, "footer-home") %>
