<div style="margin-top: 60px; margin-bottom: 30px">
  <div class="container">
    <div class="row justify-content-center pt-5">

      <div class="col-6 p-4 info info-border">
        <h3>Edit your Experience</h3>
        <hr>
        <%= render "form", experience: @experience %>
      </div>

    </div>
  </div>
</div>
