<h1>Experiences Feed</h1>
<%= link_to 'Create a new Experience', new_experience_path, class:"btn btn-success" %>
<div>
  <%= render 'shared/search' %>
</div>
<div class="main-index ">
  <div class="row ">
    <%# i want the space that will be with 2/3 to cards and 1/3 to the map %>
    <div class="col-2">
      <div class="whislist">
        <strong><h3>whislist</h3></strong>
      </div>
    </div>
    <div class="col-7"> <%# grid of cards %>
      <div class="cards">
        <div class="card">
          <% @experiences.each do |experience|%>
            <%= render 'shared/card_experience', experience: experience %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3"> <%# map %>
      <div class="map">
        <%= render 'shared/map' %>
      </div>
    </div>
  </div>
</div>
