<div class="screen">
  <div class="container pt-4">
    <div class="col-12 p-4 create-exp">
      <%= link_to '+ Experience', new_experience_path, class:"btn btn-outline-dark border-1 rounded-pill shadow-sm" %>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-6 p-3">
          <div class="cards index-cards"> <%# grid of cards %>
            <% @experiences.each do |experience|%>
              <%= render 'shared/card_experience', experience: experience %>
            <% end %>
          </div>
        </div>
        <div class="col-6 p-3">
          <div id="map">
            <%= render 'shared/map' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
