<h1>Experiences#index</h1>


<%= link_to 'Create a new Experience', new_experience_path, class:"btn btn-success" %>
<div>
  <%= render 'shared/search' %>
</div>
<div class="container">
  <div class="row">
    <%# i want the space that will be with 2/3 to cards and 1/3 to the map %>
    <div class="col-8"> <%# grid of cards %>
      <div class="container d-flex align-items-center justify-content-center">
        <% @experiences.each do |experience|%>
          <%= render 'shared/card_experience', experience: experience %>
        <% end %>
      </div>
    </div>
    <div class="col-4"> <%# map %>
      <%= render 'shared/map' %>
    </div>
  </div>
</div>
