

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render 'shared/search' %>
      <br>
      <%= link_to 'Create a new Experience', new_experience_path, class:"btn btn-success" %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <%# i want the space that will be with 1/2 to cards (only with 2 cards in a row) and 1/2 to the map %>
    <div class="col-6"> <%# grid of cards %>
      <div class="cards">
        <% @experiences.each do |experience|%>
          <%= render 'shared/card_experience', experience: experience %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="map">
        <%= render 'shared/map' %>
      </div>
    </div>
  </div>
</div>
