<div class="screen">
  <div class="container pt-4">
    <div class="row">
      <div class="col-6 btn-create-experience">
        <%= link_to 'New Experience', new_experience_path, class:"btn btn-success btn-outline-light text-dark border-0 rounded-pill" %>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-6 pb-3">
        <div class="cards"> <%# grid of cards %>
          <% @experiences.each do |experience|%>
            <%= render 'shared/card_experience', experience: experience %>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div id="map">
          <%= render 'shared/map' %>
        </div>
      </div>
    </div>
  </div>
</div>
