<div class="screen">
  <div class="container pt-4">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-lg-6 col-sm-12">
        <h2 class="py-3"> Create your experience </h2>
        <%= render "form", experience: @experience %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
