// .banner {
//   height: 100vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   //background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("dejavu.png");
//   background-size: cover;
//   background-position: center;
//   h1 {
//     color: white;
//     font-weight: bold;
//     font-size: 65px;
//   }
//   p {
//     color: white;
//     opacity: .8;
//     font-size: 25px;
//     font-weight: lighter;
//     margin-bottom: 30px;
//   }
//   .btn {
//     padding: 15px 50px;
//   }
// }

.home_video {
  width: 99vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

 .home-video-wrapper {
  height: 100vh;
  display: flex;
}

.home  {
  color:white;
  h1 {
    font-size: 200px;
    font-weight: bold;
  }
  p {
    font-size: 50px;
    font-weight: lighter;
  }
}

.xxx {
  text-align: center;
}
