.banner {
  background-size: cover;
  background-position: center;
  padding: 340px 0;
  background-image: url(homepage_1.png);
}

.banner-container-phrases {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
