.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
  background-image: url(homepage_1.png);
  height: 100vh;
}

.banner-container-phrases {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-letters {
  height: 32px;
  img {
    width: 120px;
    height: 32px;
    object-fit: contain;
  }
  justify-content: left;
}


.show-container {
  position:fixed;
}
