.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-join {
  font-size: 16px;
  padding: 4px 24px;
  margin-right: 8px;
  border-radius: 16px;
  background-color: $jet;
  color: $cultured;
  box-shadow: 0px 1px 1px rgba(20,20,20,0.2);
}

.btn-login {
  font-size: 16px;
  font-weight: 500;
}

.search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  text-decoration: none;
  border-color: $jet;
}

// ----------Review Button---------- //

.btn-review {
  font-size: 16px;
  padding: 4px 8px;
  margin-right: 8px;
  border-color: $jet;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  color: $jet;
  // box-shadow: 0px 1px 1px rgba(20,20,20,0.2);
}

.btn-review:hover {
  color: $jet;
  background-color: $jet;
  color: $cultured;
}

// ----------Explore Button---------- //

// .btn-explore {

// }

.btn-explore:hover {
  border-color: $jet;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  color: $jet;

  a{
    color: $jet;
  }
}
