.card-experience {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-experience > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-experience h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-experience p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-experience .card-experience-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-experience-infos .card-experience-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.wishlist-card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
