.footer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: 64px;
  color: $jet;
  border-top-style: solid;
  border-color: $jet;
  border-width: 1px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $jet;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-copyright {
  text-align: right;
  color: black;
}

//for second homepage
.footer-home {
  //position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

}
