.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  //width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
