.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  //width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.mapboxgl-canvas{
  width:636px;
  height:500px;
  border-radius: 20px;
}
.map-show {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

#map{
  height:100vh;
  position:sticky;
  top:68px;
}
