// Main Class
.navbar-title {
  color: $jet;
  width: 432px;
  height: 48px;
  justify-content: center;
}

.navbar {
  height: 80px;
  border-bottom-style: solid;
  border-width: 1px;
  background: $cultured;
}

.navbar-collapse {
  width: 432px;
  height: 48px;
  justify-content: right;
}

.navbar-logo {
  height: 48px;
  display: flex;
  justify-content: left;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}

.nav-item{
  align-self: center;
  margin: 2px;
}

//for second homepage
.navbar-home {
  // position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: $jet;
    font-weight: 500;
  }
}

.nav-link {
  color: $jet;
  font-weight: 500;
}
.nav-link:hover {
  color: $brown;
}
