<div class="screen">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-5 p-4 info info-border">
        <h3> How was it? </h3>
        <hr>
        <%= render "form", review: @review %>
      </div>
    </div>
  </div>
</div>
